{% extends "Layout/admin.twig" %}

{% block page %}Editor{% endblock %}
{% block description %}{% endblock %}
{% block title %}create{% endblock %}

{% block content %}
    <form action="/admin/editor/sub/store/{{ id }}" method="post">
        <div class="form-group">
            <label for="usr">Title:</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="usr">Description:</label>
            <input type="text" class="form-control" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Insert</button>
    </form>

    <br>
    <a href="/admin/editor/sub/{{ id }}" class="btn btn-default">back to list</a>
{% endblock %}